/* Old fix via Cortex thanks <3

.tooltipContainer_f240e3 {
    padding: 1px 1px !important;
    background-color: var(--background-floating) !important;
}

.tooltipContainer_f240e3 > *:not(.tooltipDescription_f240e3) {
    display: none !important;
}

.tooltipPointer__382e7 {
    display: none !important;
}

.tooltipDescription_f240e3 {
    font-weight: 500 !important;
    font-size: 14px !important;
} 
*/

.[aria-label^="Subscriber since"] .badge__8061a {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png");
}

.tooltipWordmarkContainer_f240e3 {
       display: none;
       padding: 0;
}

.tooltipContainer_f240e3 > img {
    display: none;
}

.tooltipContainer_f240e3 > h1 {
    display: none;
    padding: 0;
}

.tooltipContainer_f240e3 {
    padding: 0;
    margin: 0 auto;
}

.tooltipDescription_f240e3 {
    color: white !important;
    font-size: 14px;
    padding: 0;
}
